*.swp
*.pot
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/icons/16x16/Makefile
data/icons/16x16/Makefile.in
data/icons/22x22/Makefile
data/icons/22x22/Makefile.in
data/icons/24x24/Makefile
data/icons/24x24/Makefile.in
data/icons/32x32/Makefile
data/icons/32x32/Makefile.in
data/icons/48x48/Makefile
data/icons/48x48/Makefile.in
data/icons/Makefile
data/icons/Makefile.in
data/icons/scalable/Makefile
data/icons/scalable/Makefile.in
data/images/Makefile
data/images/Makefile.in
data/sampala.desktop
data/sampala.desktop.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
*.gmo
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/sampala
*.c
*.o
*.stamp
stamp-h1
vapi/Makefile
vapi/Makefile.in
